    body {
      font-family: sans-serif;
      line-height: 1.6;
      max-width: 800px;
      margin: 2rem auto;
      padding: 1rem;
      background-color: #fff;
      color: #000;
    }
    h1, h2, h3 {
      margin-top: 2rem;
      border-bottom: 1px solid #ccc;
      padding-bottom: 0.25rem;
    }
    ul {
      padding-left: 1.5rem;
    }
    li {
      margin-bottom: 0.5rem;
    }
    .date {
      float: right;
      color: #555;
    }
	.site{
	  float: left;
	  color: #800080;
	}
	
    .section {
      margin-bottom: 2rem;
    }
    a {
      color: #0077cc;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    hr {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }